<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreTweet" version="0.6.3.296" targetFramework="portable45-net45+win8" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.Forms" version="2.2.0.45" targetFramework="portable45-net45+win8" />
</packages>